body
{
	color:ghostwhite;
    background-image: url('solo.jpeg');
    background-repeat: repeat;
    background-size: cover; 
    background-position: center center;
}



h2 {
    color: white; /
}


a {
    color: lightskyblue; /
}
<head>